<div class="container">
  <div class="row">
    <div class="col">
    <h3 class="f">Signup(New user login)</h3>
    <form class="mt-1">
      <!-- Name input -->
      <div class="form-outline mb-4">
        <label class="form-label" for="registerName">Name</label>
        <input type="text" id="registerName" class="form-control" placeholder="Enter Name" />
      </div>
  
      <!-- Username input -->
      <div class="form-outline mb-4">
        <label class="form-label" for="registerUsername">Username</label>
        <input type="text" id="registerUsername" class="form-control" placeholder="Enter Username"/>
      </div>
  
      <!-- Email input -->
      <div class="form-outline mb-4">
        <label class="form-label" for="registerEmail">Email</label>
        <input type="email" id="registerEmail" class="form-control" placeholder="Enter Email"/>
      </div>
  
      <!-- Password input -->
      <div class="form-outline mb-4">
        <label class="form-label" for="registerPassword">Password</label>
        <input type="password" id="registerPassword" class="form-control" placeholder="Enter password"/>
      </div>
  
      <!-- Submit button -->
      <div class="d-flex justify-content-between">
        <button type="submit" class="btn btn-primary btn-block mb-3" routerLink="/clogin">
          Sign Up 
        </button>
        &nbsp;
        <a class="btn btn-primary btn-block mb-3" routerLink="/clogin"
          >Go back to Login!</a
        >
      </div>
    </form>
  </div>
  </div>
  </div>
